body {
    color: #773344;
    background-image: url(../images/ipad.png);
    background-repeat: no-repeat;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    font-weight: thin;
    color: #D80027;
}
.screen {
    margin-top: 35px;
    height: 5.8in;
    margin-left: 88px;
    margin-right: 60px;
    margin-bottom: 40px;
    background-color: white;
    width: 7.7in;
    float: left;
}
.navbar {
    background-color: #dee1e5;
    color:white;
    height: 80px;
}
.navbar a {
    margin-top:13px;
    color: white;
    text-decoration: none;
}

.navprofile {
    float:right;
    width: 10%;
    margin-top: 15px;
}
.backbutton {
    padding:20px;
    float:left;
}
.homeicon {
}
.professorname {
    font-size: 50px;
    margin:0px;
}
.navprofileimage {
    border-radius: 50%;
    width: 50px;
}
.namecard {
    float: left;
    margin-top: 30px;
    width: 300px;
    background-color: #f2f2f2;
    padding: 20px;
    font-size: 13px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom:50px;
}

.profilepic {
    width: 60px; 
    border-radius: 50%;
    margin: 5px;
}
.author {
    display: inline-block;
}
.author p {
    font-size: 10px;
    text-align: center;
}
.clearboth {
    clear: both;
}
hr {
    display: block;
    top: 50%;
    height: 1px;
    background: #c8cccf;
    border-style: none;
}

.shortcut {
    display: inline-block;
    text-align: center;
}
.shortcut img {
    width: 100px; 
    padding: 20px;
    padding-bottom: 0px;
}
.shortcuts {
    text-align: center;
}